header {
	
	background: url(../img/analogcomputer.jpg);
	background-size:100%;
	background-position:50%;
	min-height:200px;
	margin-bottom:25px;

}


header h1 {
	color: white;
	font-weight: bold;

}

header h4 {
	color:white;
}