---
layout: full-width
title: "Home"
---
<div id="panel">
<h1>Announcements</h1></div>

<p>Welcome to Computer Applications for the 4th Advisory.  Due to testing, the class won't officially begin until next week.  But in the mean time, we have a few logistical things we can take care of:</p>

<h2>Email Accounts</h2>

<p>If you don't already have an email account, you will need to create one.</p>
<p>Your first assignment is to send an introductory email to chec.shafiei@gmail.com</p>

<h2>DropBox Account</h2>
<p>Once you have an email account, you will need to setup a DropBox account.  <a href="http://dropbox.com">Visit dropbox.com to get started.</a></p>

<h2>Binder</h2>

<p>Mr. Shafiei will give you a binder to keep all of your notes and handouts in.  This can stay in the room, but you must remember to get it first thing when you come to class.</p>

<h2>Survey</h2>

<p>Please complete this survey so that I can learn some important information about you:</p>

<a href="https://docs.google.com/forms/d/1xS0sqngxWtcfu8HH6Tyyq0wTtba_ZSXsKBOvskl4tuU/viewform" class="button">Take the Survey</a>

<h2>This Week's Classes</h2>
<div id="home-page-calendar">
<ul class="small-block-grid-1 medium-block-grid-5 large-block-grid-5" data-equalizer>
        {% assign no_post = true %}
        {% for post in site.categories['calendar'] reversed %}
            {% assign current_post = post.date | date: "%U" %}
            {% assign current_time = site.time | date: "%U" %}
            {% assign current_post_day = post.date | date: "%w" %}
    {% if current_post == current_time %}
    
    
    {% if current_post_day == "1" %}
    <li class="th" data-equalizer-watch>
        <h4>{{ post.date | date: "%a" }}</h4>
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p> 
    </li>
    {% endif %}
    
    {% if current_post_day == "2" %}
    <li class="th" data-equalizer-watch>
    <h4>{{ post.date | date: "%a" }}</h4>

        
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p>
        
    </li>
    {% endif %}
    
    {% if current_post_day == "3" %}
    <li class="th" data-equalizer-watch>
    <h4>{{ post.date | date: "%a" }}</h4>
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p>
        
    </li>
    {% endif %}
    
    {% if current_post_day == "4" %}
    <li class="th" data-equalizer-watch>
    <h4>{{ post.date | date: "%a" }}</h4>
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p>
        
    </li>
    {% endif %}
    
    {% if current_post_day == "5" %}
    <li class="th" data-equalizer-watch>
    <h4>{{ post.date | date: "%a" }}</h4>
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p>
        
    </li>
    {% endif %}
    
    {% endif %}
    {% endfor %}
    
  
</ul>
    </div>