---
layout: full-width
title: Calendar
---
<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
  <li>
    <div class="panel callout">
            {% assign no_post = true %}
            {% for post in site.categories['calendar'] %}
                {% assign current_post = post.date | date: "%F" %}
                {% assign current_time = site.time | date: "%F" %}
                {% if current_post == current_time %}
        <h3>{{ post.date | date: "%A" }}</h3>
        <h6><small>{{post.date | date_to_string }}</small></h6>
        <hr>
        <p><a href="{{site.baseurl}}{{ post.url }}">{{post.excerpt}}</a></p>
                    {% assign no_post = false %}
                {% endif %}
            {% endfor %}
            {% if no_post %}
        <h4>Today's Class is Not Here</h4>
        <hr>
        <img src="{{site.baseurl}}/img/homer.jpg" class="th text-center">
            {% endif %}
    </div></li>

</ul>
<h4>Full Calendar</h4>
<dl class="accordion" data-accordion>

    {% for post in site.categories['calendar'] reversed %}
  <dd>
    <a href="#panel{{forloop.index}}">{{post.date | date_to_string }} <small class="label right">{{ post.date | date: "%a" }}</small></a>
    <div id="panel{{forloop.index}}" class="content">
      <p><a href="{{site.baseurl}}{{ post.url }}" style="background:none;">{{post.excerpt}}</a></p>
    </div>
  </dd>
    {% assign current_day = post.date | date: "%a" %}
    {% if current_day == "Fri" %}
    <hr>
    {% endif %}
    {% endfor %}
</dl>